.container {
  width: 400px;
  padding: 30px;
  border: 3px solid black;
  border-radius: 20px;
  margin: 50px auto;       
  text-align: center;      
}

.red, .green, .yellow {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;   
  margin: 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}
